html, body {
    margin: 0px;
    padding: 0px;
}

#frame {
    height: 720px;
    width: 1280px;
    position: relative;
}

#timer {
    text-align: center;
    left: 0px;
    bottom: 0px;
    position: absolute;
    height: 60px;
    color: white;
    font-size: 50px;
    font-family: Impact;
    padding-left: 15px;
    padding-right: 15px;
    width: 160px;
}

#donationticker {
    white-space: nowrap;
    overflow: hidden;
    left: 200px;
    bottom: 0px;
    width: 800px;
    position: absolute;
    color: white;
    height: 55px;
    font-size: 45px;
    font-family: Impact;
    padding-left: 15px;
    padding-right: 15px;
}

#dollarvalue {
    bottom: 0px;
    right: 0px;
    position: absolute;
    color: white;
    font-size: 45px;
    font-family: Impact;
    padding-right: 15px;
    z-index: 10;
    padding-left: 15px;
}

#slideshow {
    background-position:center; 
    width: 800px;
    background-repeat: no-repeat;
    z-index: 9;
    background-image: url(hello.png);
    position: absolute;
    bottom: 0px;
    left: 200px;
    height: 55px;
    width: 700px;
}